

html.no-scroll, body.no-scroll {
	//height: 100%;
	overflow: hidden;

	@include mq(desktop) {
		height: auto;
	}

}

body {
	background-color: $white;
	color: $charcoal-grey;
	font-family: $font-body;
	margin: 0;
	padding: 0 $rhythm;
	overflow-x: hidden;
}