
// Colours

$black: #000000;
$charcoal-grey: #333333;
$mid-grey: #9B9B9B;
$mist-grey: #EEEEEE;
$white: #FFFFFF;

$hot-orange: #E4541B;
$primary-purple: #6B3374;


// Fonts

$font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Spacing

$rhythm: 16px;


// Widths

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;